.edit-rev-div {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(90deg, rgb(124, 175, 216), rgb(207, 105, 87)) 1;
    background-color: rgb(49, 67, 85);
    color: white;
    text-align: center;
    padding: 0px 20px;
    width: 370px;
}

.edit-rev-errors {
    color: rgb(218, 179, 179);
}

.review-textarea {
    resize: none;
}

.star-input {
    display: flex;
    margin: 12px 0px 4px;
    justify-content: center;
}

.star-input .empty {
    color: lightgray;
}

.star-input .filled {
    color: orange;
}

.confirm-edit-rev {
    background-color: rgb(49, 67, 85);

    border: none;
    border-top: 1px solid rgb(153, 153, 153);

    color: white;
    font-size: 16px;

    margin-bottom: 16px;
    margin-top: 8px;

    padding-top: 16px;
}

.confirm-edit-rev:disabled {
    color: lightgray;
}

.confirm-edit-rev:hover {
    text-decoration: underline;
}